# Environment variables declared in this file are available at build time and runtime.
# Next.js will load environment variables from .env.local into process.env

# Database
# For SQLite
DATABASE_PROVIDER="sqlite"
DATABASE_URL="file:./prisma/storage/database.sqlite"

# For PostgreSQL (uncomment and configure when using PostgreSQL)
# DATABASE_PROVIDER="postgresql"
# DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# Configuration
CONFIG_PATH="./settings.yaml"

