# Environment variables declared in this file are available at build time and runtime.
# Next.js will load environment variables from .env.local into process.env

# Database
DATABASE_URL="file:./storage/database.sqlite"

# Configuration
CONFIG_PATH="./settings.yaml"

