# Локальная конфигурация для development окружения
# Этот файл НЕ должен быть в git - содержит конфиденциальные данные
# Скопируйте этот файл в settings.development.local.yaml и заполните реальными значениями

app:
  storage:
    type: 'local' # для локальной разработки используем local storage
    local:
      save_path: './storage/avatars'
  server:
    port: 3001 # отличный от production порта
  database:
    driver: 'sqlite' # для простоты локальной разработки
    connection:
      maxRetries: 5
      retryDelay: 1000
    sqlite_params:
      url: 'file:./storage/database/database.dev.local.sqlite'
  logging:
    level: 'debug'
    verbose: true
    pretty: true
